.sectionHeader{
    .title {
        font-size: 2.25rem; 
        color: #1890ff;
        font-family: 'Squada One', cursive;
        font-weight: 100;
    }
    .subTitle{
        white-space: pre-wrap
    }
    .stepStatus{
        color: #8d8c8c
    }
}