.displayImage {
    color: #fff;
    position: relative;
    margin: auto;
    width: 265px;
    height: 265px;

    .flipButton {
        font-size: 24px;
        position: absolute;
        bottom: 1.5rem;
        right: 1rem;
    }
}