.testModel{
    .layout{
        width: 100%;
        .predictWrapper{
            width: 100%;
            .predict{
                display: flex;
                justify-content: center;
                align-items: center;
                :global(.ant-progress-text){
                    width: unset;
                }
            }
        }
        .displayWrapper {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: fit-content;
            align-items: center;
            margin: auto;
            gap: 1rem;
        }
    }
}