.testModel{
    .layout{
        width: 100%;
        .predictWrapper{
            width: 100%;
            .predictedClass {
                text-align: center;
            }
            .predict{
                display: flex;
                justify-content: center;
                align-items: center;
                :global(.ant-progress-text){
                    width: unset;
                }
            }
        }
        .displayWrapper {
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: fit-content;
            align-items: center;
            margin: auto;
            gap: 1rem;
            background-color:#ffffff;
            border-radius: 10px;
            padding: 1rem 0.5rem;
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
    }
}