.layout{
    min-height: 100vh;
    .header{
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        .homeIcon{
            font-size: 1.25rem;
        }
    }
    .siteLayout {
        margin-bottom: 24px;
        transition: all .2s;
        text-align: left;
        &.big{
            margin-left: 80px;
        }
        &.small{
            margin-left: 200px;
        }
    }
}

