.samplesSection {
    .samples {
        max-height: 200px;
        overflow-y: scroll;
        scrollbar-width: auto;
        scrollbar-color: #99def0 #ffffff;
        /* ===== Scrollbar CSS ===== */
        /* Firefox */

        /* Chrome, Edge, and Safari */
        &::-webkit-scrollbar {
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #bae7ff;
            border-radius: 5px;
            border: 0px solid #ffffff;

            &:hover {
                background: #a2dfff;
                ;
            }
        }

        .imageWrapper {
            position: relative;

            .deleteImage {
                display: none;
                position: absolute;
                top: 5px;
                right: 5px;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 50%;
                height: 1rem;
                width: 1rem;
                padding: 3px;
                font-size: 0.75rem;
                cursor: pointer;
            }

            &:hover {
                .deleteImage {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        img {
            border-radius: 3px;
            padding: 2px;
            width: 100%;
            height: 100%;
        }
    }
}