.classesWrapper {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    max-width: 1024px;
    overflow-x: auto;
    scrollbar-width: auto;
    scrollbar-color: #99def0 #ffffff;
    padding: 1rem;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;

    >div:first-child {
        margin-left: 340px;
    }

    /* ===== Scrollbar CSS ===== */

    /* Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #bae7ff;
        border-radius: 5px;
        border: 0px solid #ffffff;

        &:hover {
            background: #a2dfff;
            ;
        }
    }

    .addClass {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 5px dashed #d9d9d9ab;
        padding: 24px;
        color: #d9d9d9ab;
        font-size: 30px;
        max-width: 340px;
        min-width: 340px;
        height: -moz-fit-content;
        max-height: 302.8px;
        min-height: 302.8px;
        margin-bottom: 1rem;
        border-radius: 3px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
        cursor: pointer;
        scroll-snap-align: center;
        margin-right: 340px;

        &:hover {
            border-color: #d9d9d9;
            color: #d9d9d9;
        }
    }
}